.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.createEventButton {
  background-color: #ff3e52;
  font-family: monospace;
  cursor: pointer;
  border: 0;
  padding: 1.5rem;
  border-radius: 10px;
  width: auto;
  position: relative;
  font-size: 1em;
  color: white;
}

.Menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333333;
  height: 40px;
}

.Nav_link:link {
  color: #fff;
  text-decoration: none;
}
.Nav_link:visited {
  color: #fff;
}
.Nav_link:hover {
  color: #fff;
}
.Nav_link:active {
  color: #ff3e52;
}
.Menu ul {
  margin-top: 8px;
}

.Menu li {
  float: left;
  display:block;
  color: white;
  text-align: center;
  padding: 14px;
  padding-top: 0px;
}


.App-link {
  color: #61dafb;
}

.StartDate {
  margin-top: 25px;
}

.EndDate {
  margin-top: 25px;
}

.EventName {
  margin-top: 25px;

}

.inputName {
  height: 22px;
  width: 170px;
}

.colorPicker {
  margin-left: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
}